/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}
body {
	font-family: "PT Sans", serif;
	height: 8200px;
}

/* line 24, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 18, ../sass/screen.scss */
.home {
  background: url("images/background.jpg")  no-repeat center 0;
  background-size: 1984px 8368px;;
}
/* line 21, ../sass/screen.scss */
.home h1 {
}
.home .topics {
  text-align: center;
}
.home .topics article{
  display: inline-block;
}

/* line 24, ../sass/screen.scss */
.home .heavy {
  font-weight: bold;
}
/* line 28, ../sass/screen.scss */
.home #intro {
	position:absolute;
  	margin: 200px 0 0 20%;
	width: 80%;
}
/* line 31, ../sass/screen.scss */
.home #intro article {
  color: #fff;
  text-align: left;
}
/* line 37, ../sass/screen.scss */
#intro article h1 {
  font-size: 4.6em;
  margin-bottom: .4em;
  text-align: left;
}
/* line 41, ../sass/screen.scss */
#intro article p {
  line-height: 1em;
  margin-top: 1em;
	font-size: 1em;
}
#intro article .title {
  line-height: 1.4em;
	font-size: 1.2em;
}
#timeline {
	background:  rgba(255,255,255,0.7) url(images/timeline.png) repeat-x 0 95%;
	width: 100%;
	height: 720px;
	top: 940px;
    text-align: center;
	position: absolute;
	overflow: hidden;
}

#timeline .timeline_window {
	width: 4000px;
	position: absolute;
	left: 50%;
	margin-left: -240px;
	z-index: 0;
	margin-top: 100px;
}

#timeline article {
	width: 480px;
	float: left;
	margin-right: 50px;
	text-align: center;
	color: #4a4a4a;
}

#timeline .circle_container {
  /*background-image: url("images/screens.png");
  background-position: center 0;
  background-repeat: no-repeat;*/
  background: #fff;
  border-radius: 50%;
  width: 100%;
  height: 480px;
  cursor: pointer;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
		
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

#timeline article:hover .circle_container {
	-webkit-transform: rotate3d(0,1,0,-180deg);
	-moz-transform: rotate3d(0,1,0,-180deg);
	-o-transform: rotate3d(0,1,0,-180deg);
	-ms-transform: rotate3d(0,1,0,-180deg);
	transform: rotate3d(0,1,0,-180deg);
}

#timeline .circle_container > div {
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 50%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.circle_container .back_info {
	-webkit-transform: rotate3d(0,1,0,180deg);
	-moz-transform: rotate3d(0,1,0,180deg);
	-o-transform: rotate3d(0,1,0,180deg);
	-ms-transform: rotate3d(0,1,0,180deg);
	transform: rotate3d(0,1,0,180deg);
	background: #95BF3F;
}


#timeline article h1{
  	font-size: 1.1em;
	font-weight: bold;
	line-height: 2.4em;
}
#timeline article p{
    font-size: .8em;
	line-height: 1.3em;
	padding: 0 80px;
}

#timeline article img {
	margin: 50px 0 30px 0;
}

#timeline article:first-child {
	text-align: left;
}

#timeline article:first-child .circle_container {
	background: #fff url(images/synacylogo.png) no-repeat 20px 50%;
}

#timeline article:first-child h1 {
	padding: 110px 50px 0 200px;
}

#timeline article:first-child p {
	padding: 5px 50px 0 200px;
	font-size: 12px;
}

#timeline article strong {
	display: block;
	font-weight: bold;
	padding: 20px 0 0 0;
	font-size: 18px;
}


#timeline a.controls {
	position: absolute;
	top: 50%;
	display: block;
	z-index: 1;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	text-indent: -9999px;
	opacity: 0.3;
	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

#timeline a.controls:hover {
	opacity: 1;
}

#timeline a.slide_right {
	right: 1%;
	background: url(images/arrow_right.png) no-repeat 0 0;
}

#timeline a.slide_left {
	display: none;
	left: 1%;
	background: url(images/arrow_left.png) no-repeat 0 0;
}



/*#timeline #time-meter{
  background-image: url("images/timeline.png");
  background-repeat: repeat-x;
	width: 100%;
	height: 33px;
}*/

#challenge {
  background-image: url("images/pencil.png");
  background-position: center 0;
	background-repeat: no-repeat;
	width: 80%;
	min-width: 900px;
	height: 720px;
	top: 1900px;
	left: 35%;
	margin-left: -25%;
	position:absolute;
}
#challenge #screen1{
	position: absolute;
	top: 130px;
	left: 60%;
}
#challenge #screen2{
	position: absolute;
	top: 300px;
	right: 55%;
}
#challenge article{
	text-align: left;
}
#challenge article h1{
  font-size: 1.1em;
	font-weight: bold;
	line-height: 2.4em;
}
#challenge article ul{
	list-style-type: none;
}
#challenge article ul li{
  font-size: .9em;
	line-height: 2.4em;
}
#challenge article ul li span{
  position: relative;
	left: 10px;
}
#challenge article ul li:before{
  content: "• ";
  color: #888;
}

#technology {
	height: 720px;
	top: 2840px;
	left: 50%;
	width: 80%;
	margin-left: -38%;
	position:absolute;
}
#technology article{
	color: #fff;
}
#technology article h1{
  font-size: 3.2em;
	font-weight: bold;
	line-height: 1em;
}
#technology article ul{
	width: 840px;
	margin-top: 30px;
}
#technology article ul li {
	float: left;
	width: 50%;
	height: 76px;
	font-size: 1.5em;
	line-height: 3em;
	margin-bottom: 4px;
}
#technology article ul .li-clear{
	clear: left;
}
#technology article ul .left {
  background-image: url("images/speech-box-l.png");
  background-position: center 0;
	background-repeat: no-repeat;
}
#technology article ul .right {
  background-image: url("images/speech-box-r.png");
  background-position: center 0;
	background-repeat: no-repeat;
}

#program {
	top: 3600px;
	left: 50%;
	margin-left: -25%;
	position:absolute;
}
#program img{
	margin-left: -25%;
	width: 80%;
}
#program article #steps{
	display: block;
	margin-left: -25%;
	min-width: 800px;
}
#program article #steps .step {
	display: block;
	color: #fff;
	float: left;
	margin: 5px 3px 0 3px;
	width: 12%;
	height: 240px;
	min-width: 200px;
}
#program article #steps  .step .step-number{
	display: block;
	font-size: 3em;
	font-weight: bold;
	float: left;
	width: 1em;
	line-height: 1.2em;
}
#program article #steps  .step .step-title{
	display: inline-block;
	font-size: 1.4em;
	font-weight: bold;
	float: left;
	width: 70%;
	text-align: left;
	margin-top: 8px;
}
#program article #steps  .step p{
	margin-top: 80px;
	font-size: .8em;
	text-align: left;
	padding: 0 1em;
}

#program article #steps #step1{
	background:  rgba(2,80,120,0.6);
}
#program article #steps #step2{
	background:  rgba(2,80,120,0.9);
}
#program article #steps #step3{
	background:  rgba(232,60,28,0.6);
}
#program article #steps #step4{
	background:  rgba(232,60,28,0.8);
}
#program article #steps #step5{
	background:  rgba(232,60,28,0.9);
}
#program article #steps #step6{
	background:  rgba(153,189,57,0.6);
}
#program article #steps #step7{
	background:  rgba(153,189,57,0.8);
}

#gallery {
	margin-top: 300px;
  text-align: center;
	top: 4400px;
	left: 5%;
	width: 90%;
	position:absolute;
}
#gallery article img{
	width: 90%;
	min-width: 800px;
}

#looking {
  background-image: url("images/people.png");
  background-position: center 0;
	background-repeat: no-repeat;
  text-align: center;
	width: 1190px;
	height: 612px;
	margin: 700px -40%;
	top: 5200px;
	left: 50%;
	position:absolute;
}

#looking .speeches {
	color: #fff;
}
#looking #red {
	position: absolute;
	top: 160px;
	left: 820px;
	text-align: left;
	line-height: 1.1em;
	font-size: 1em;
}
#looking #red p{
	margin-bottom: 1em;
}

#application {
  background-image: url("images/blocks.png");
  background-position: center 0;
	background-repeat: no-repeat;
	background-size: 1255px 654px;
	min-width: 1255px;
	width: 100%;
	height: 654px;
	top: 7000px;
	/*right: -2%;*/
	position:absolute;
}
#application article{
  position: relative;
}
#application article h1 {
  font-size: 1.5em;
	font-weight: bold;
	line-height: 1em;
	margin: -2em 0 0 14em;
}
#application article .step-number {
	color: #fff;
  font-size: 3em;
	font-weight: bold;
	line-height: 1em;
	position: absolute;
	width: 1em;
}
#application article #step-number-1 {
	top: 10px;
	left: 130px;
}
#application article #step-number-2 {
	top: 10px;
	left: 350px;
}
#application article #step-number-3 {
	top: 10px;
	left: 565px;
}
#application article #step-number-4 {
	top: 10px;
	left: 780px;
}
#application article #step-number-5 {
	top: 185px;
	left: 240px;
}
#application article #step-number-6 {
	top: 185px;
	left: 455px;
}
#application article #step-number-7 {
	top: 185px;
	left: 670px;
}
#application article .step {
	color: #fff;
  font-size: 1.2em;
	font-weight: bold;
	line-height: 1em;
	position: absolute;
	width: 9em;
}
#application article #step1 {
	top: 100px;
	left: 70px;
}
#application article #step2 {
	top: 100px;
	left: 290px;
}
#application article #step3 {
	top: 80px;
	left: 500px;
}
#application article #step4 {
	top: 80px;
	left: 715px;
}
#application article #step5 {
	top: 280px;
	left: 175px;
}
#application article #step6 {
	top: 280px;
	left: 395px;
}
#application article #step7 {
	top: 280px;
	left: 615px;
}
#application article #block-info {
	position: absolute;
	top: 240px;
	left: -320px;
	width: 440px
}
#application article #block-info p{
	text-align: left;
	margin-bottom: 2em;
	font-size: .9em;
	line-height: 1.2em;
}

#apply {
  text-align: center;
	width: 80%;
	height: 612px;
	margin: 0 -40%;
	top: 7700px;
	left: 50%;
	position:absolute;
	color: #fff;
}
#apply article header {
	position: relative;
}
#apply article header h1 {
  font-size: 3em;
	font-weight: bold;
	position: absolute;
	top: 70px;
	left: -160px;
	width: 6em;
	line-height: .9em;
}
#apply article header .heavy{
  font-size: 4.8em;
	font-weight: bold;
	position: absolute;
	top: 145px;
	left: -210px;
	width: 400px;
}
#apply article .title {
  font-size: 1.8em;
	width: 5em;
	font-weight: bold;
	position: absolute;
	top: 335px;
	left: -80px;
}